#c-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #696969;

}

 th, #c-table td {
    border-top: 1px solid #696969;
    padding: 8px;
    text-align: center;
    align-items: center;
}
th{
    background-color: #eceaea;
}
#c-box{
    width: 10%;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#t-from{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
}