body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.navi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

nav{
    left: 0px;
    top: 0px;
    position: sticky;
}
.nav-links ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: space-between;
}
.nav-links li:hover{
    color: red;
}

.logo{
    flex:0.1;
}
.nav-links{
    flex:0.5;
}
.search{
    flex:0.2;
    display: flex;
    align-items: center;
    gap: 20px;
}
.search i:hover{
    color: red;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #edeff2;
    margin: 0px;
}
.left ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.right ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.right{
    display: flex;
}
.fa-brands{
    font-size: 10px;
    color: #74706B;
    transition: transform 0.4s;
}
.fa-brands:hover{
    color: red;
     transform: rotateY(180deg);
}
.order li{
    border-right: 1px solid #edeff2;
    padding-right: 10px;
}
.banner-text{
    display: flex;
    align-items:center ;
    justify-content: center;
    color: white;
}
.banner{
    background-color: black;
    margin: 0px;
    padding: 10px;
}
.banner-text p{
    margin: 0;
    font-size: 14px;

}
.banner-text a{
    border-bottom: #CEBD9C  2px solid;
    color: #CEBD9C ;
}
.banner-text a:hover{
    font-size: 15px;
    transition: 0.5s;
}